html,
body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    background-image: url('../../images/DSC03870.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    /* Remova o flex do body */
}

/* Centraliza o container_1 */
.container_1 {
    width: 100%;
    max-width: 1000px; /* ou 1200px */
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    /* Centraliza verticalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    margin: auto;
}

.form-label {
    font-weight: bold;
    color: #f0f8ff;
}

h1 {
    font-weight: bold;
    color: #f0f8ff;
}

.form-check-label {
    color: #f0f8ff;
}

.resultado {
    font-weight: bold;
    color: rgb(2, 111, 25);
    margin-top: 15px;
    font-size: 1.2em;
}
.resultado_erro {
    font-weight: bold;
    color: rgb(228, 0, 0);
    margin-top: 15px;
    font-size: 1.2em;
}

.result_div {
    display: flex;
    justify-content: center;
    align-items: center;
}